<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-11">
                <form role="form">
                    <div class="form-group">
                        <textarea [(ngModel)]='commentContent' name="commentContent" class="form-control" rows="5" placeholder="5-140个字符，非法字符自动截断。"></textarea>
                    </div>
                    <button type="button" [disabled]="!user" (click)="addComment()" class="btn btn-success">提交</button>
                </form>
            </div>
        </div>
        <div class="row">
            <!-- 
              专门的评论组件，每条评论登录后可以回复，评论有级别，类似金字塔.
              comments数组是直接回复文章的那些评论
             -->
            <div *ngFor="let comment of comments;let i=index;" class="comment-item-container col-md-11">
                <div class="row">
                    <comment class="col-md-10" [comment]='comment' [canReply]='!!user' (addReply)="reply($event,i)"></comment>
                    <!-- <comment *ngFor="let commentReply of getRelpyList(comment)" [comment]='commentReply' [canReply]='!!user' (addReply)="reply($event,i)"></comment> -->
                </div>
            </div>
        </div>
    </div>
</div>