<!--formGroup和formControlName属性。 
他们是Angular指令，用于把相应的HTML控件绑定到组件中
的FormGroup和FormControl类型的属性上。-->
<div class="container">
    <h1>登录后发现更多精彩</h1>
    <form [formGroup]="loginForm" (submit)='login()' novalidate>

        <div class="form-group row">
            <label class="center-block col-md-2">姓名:</label>
            <input class="form-control col-md-6" formControlName="name">
            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="center-block col-md-2">一事通号:</label>
            <input class="form-control col-md-6" formControlName="ystNumber" required>
            <div *ngIf="formErrors.ystNumber" class="alert alert-danger">
                {{ formErrors.ystNumber }}
            </div>
        </div>

        <div class="form-group row">
            <label class="center-block col-md-2">邮箱:</label>
            <input class="form-control col-md-6" formControlName="email">
        </div>

        <div style="margin-top: 1em">
            <button type="submit" [disabled]="loginForm.pristine || loginForm.status==='INVALID'" class="btn btn-success  col-md-4">登录</button>
        </div>

    </form>

    <p>Form value: {{ loginForm.value | json }}</p>
    <p>Form status: {{ loginForm.status | json }}</p>
</div>