<ng-container *ngIf='comment'>
    <div class="container indent">
        <p class="row">
            <a href="" class="col-md-2">{{comment.userName}}</a>
            <span class="col-md-3" *ngIf='comment.to !== -1'>回复 <a href="">{{userOfCommentTo}}</a> </span>
            <span class="col-md-3 col-md-pull-0">{{comment.date}}</span>
        </p>
        <p class="row" (mouseenter)='displayReplyButton()' (mouseleave)='hideReplyButton()'>
            <span class="col-md-11">{{comment.content}} </span>
            <button [hidden]='!canReplyButtonDisplay' class="btn btn-info col-md-1" *ngIf="canReply" (click)="reply()" type="button">回复</button>
        </p>
    </div>
</ng-container>