{{diagnostic}}
<div class="container">
    <h1>填写信息，加入我们</h1>
    <!--NgForm指令为form增补了一些额外特性。 它会控制那些带有ngModel指令和name属性的元素，监听他们的属性-->
    <!--
        1. 每个 input 元素都有id属性，label元素的for属性用它来匹配到对应的输入控件。
        2. 每个 input 元素都有name属性，Angular 表单用它注册控件。
      -->
    <form #authorForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">姓名</label>
            <!--当在表单中使用[(ngModel)]时，必须要定义name属性在内部，
            Angular 创建了一些FormControl，并把它们注册到NgForm指令，再将该指令附加到<form>标签。 
              注册每个FormControl时，使用name属性值作为键值。-->
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newAuthor.name" required>

            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>
        <div class="form-group">
            <label for="ystNumber">6位一事通账号</label>
            <input type="text" class="form-control" id="ystNumber" name="ystNumber" [(ngModel)]="newAuthor.ystNumber" minlength="6" maxlength="6" onlyNumber required>

            <div *ngIf="formErrors.ystNumber" class="alert alert-danger">
                {{ formErrors.ystNumber }}
            </div>
        </div>

        <div class="form-group">
            <label for="department">部门</label>
            <select class="form-control" id="department" name="department" [(ngModel)]="newAuthor.department" required>
                <option *ngFor="let department of validDepartments" [value]="department">{{department}}</option>
            </select>

            <div *ngIf="formErrors.department" class="alert alert-danger">
                {{ formErrors.department }}
            </div>
        </div>

        <div class="form-group">
            <label for="speciality">专长</label>
            <input type="text" class="form-control" id="speciality" name="speciality" [(ngModel)]="newAuthor.speciality">
        </div>
        <div class="form-group">
            <label for="hobby">爱好</label>
            <input type="text" class="form-control" id="hobby" name="hobby" [(ngModel)]="newAuthor.hobby">
        </div>
        <!--点击提交按钮会触发表单提交，即出发form的ngSubmit事件。 在最上面的form标签上注册这个事件-->
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid">提交审核</button>
        <!--<button type="button" class="btn btn-default" (click)="addToApproval(); authorForm.reset()">提交审核</button>-->
    </form>
</div>